NODE_ENV=production
PORT=3010
DB_SCHEMA=pgplay
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DATABASE?schema=pgplay&sslmode=require
DATABASE_ADMIN_URL=postgresql://ADMIN_USER:PASSWORD@HOST:5432/DATABASE?sslmode=require
PANEL_ORIGIN=https://panel.pgplay.online
GAMES_ORIGIN=https://games.pgplay.online
